{% extends "base.html" %}

{% block header %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock header %}

{% block cuerpo %}
<div class='d-flex justify-content-center mt-5'>
    <div class="row">
        <div class='col-5 justify-content-end'>
            <form action="{% url 'receta:crear_receta' %}" method='POST' enctype="multipart/form-data">
                <input type="number" name='u_id' id='u_id' value={{ultima_receta}} hidden>
                {% csrf_token %}
                {{form.as_p}}
                <button class='btn btn-primary'type='submit'>Crear Receta</button>
            </form>
        </div>
        <div class="col-7">
            <form action="">
                <input type="text" id='id_receta' hidden value={{ultima_receta}} hidden>
                <label for="">Ingrediente</label>
                <input type="text" id='ingrediente'>
                <label for="">Cantidad</label>
                <input type="number" id='cantidad'>
                <select name="medida" id="medida">
                    <option value="gramos">gramos</option>
                    <option value="mililitros">mililitros</option>
                    <option value="Kilogramos">Kilogramos</option>
                    <option value="Litros">Litro</option>
                </select>
                <button class='btn btn-primary'type='button' id='agregar'>Agregar</button>
            </form>
            <div id='lista_ingredientes'>
            </div>
        </div>
            
    </div>
</div>

<script>
$(document).on("click", "#agregar",function(){
    var cantidad = document.getElementById('cantidad').value
    var medida = document.getElementById('medida').value
    var ingrediente = document.getElementById('ingrediente').value
    var id_receta = document.getElementById('id_receta').value
    console.log(ingrediente)
    
    $.ajax({
        url:'agregar_ingrediente',
        type:'GET',
        data: {
            'cantidad': cantidad,
            'medida': medida,
            'ingrediente': ingrediente,
            'id_receta':id_receta,
            },
    })
    .done(function(res){
        $('#existe').remove();
        $('#lista_ingredientes').append(res);
    })
}) 

$(document).on("click", "#quitar",function(){
    var id_receta = document.getElementById('id_receta').value
    var ingrediente = $(this).data("ingrediente")
    var existe = document.getElementById('existe')
    $(this).parent().remove();
    console.log(existe)

    
    $.ajax({
        url:'quitar_ingrediente',
        type:'GET',
        data: {
            'ingrediente': ingrediente,
            'id_receta':id_receta,
            },
    })
    .done(function(){
        if(existe){
            $('#existe').remove()
        }

    })
}) 
</script>

{% endblock cuerpo %}
