{% extends 'base.html' %}


{% block cuerpo %}

  <div class="card-group">
  {% for receta in recetas %}
    <div class="card">
      <img class="card-img-top" src="{{receta.imagen}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{receta.titulo}}</h5>
        <p class="card-text">
        <p>Ingredientes</p>
        <ul>
        {% for i in ingredientes %}
          {% if i.id_receta == receta.id %}
            <li>{{i.cantidad}} {{i.medida}} {{i.nombre}}</li>
          {% endif %}
        {% endfor %}
        </ul>
        <p>Preparacion</p>
        {{receta.preparacion}}
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  {% endfor %}
  </div>
  
{% endblock cuerpo %}
