{% extends 'base.html' %}


{% block cuerpo %}

{% if passcambiado %}
<div class="alert alert-success text-center" role="alert">
    Contraseña Cambiada Exitosamente. Vuelve a Iniciar Sesión
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if messages %}
        {% for message in messages %}
            {% if 'cliente_registrado' in message.tags %}
                <div class="alert alert-success" role="alert">
                    {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %}
        {% endfor %}
{% endif %}


<br>



<style>
.error{
    color: red;
}
</style>

<div class="container col-lg-5 col-10 redondeado" style="background-color: rgba(19, 19, 19, 0.747); color: white;">
    <h5>Inicio Sesión</h5>
    <hr>
    <form id="inicia_sesion_cliente" action="{% url 'cliente:iniciar_sesion' %}" method="POST">{% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary">Iniciar Sesión</button>
    </form>
</div>
{% endblock cuerpo %}