{% extends 'base.html' %}

{% block linknav %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cliente:perfil' %}">Mi Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'receta:crear_receta' %}">Crear Receta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'receta:ver_recetas' %}">Ver Recetas</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
            Bienvenido {{user.first_name|upper}} {{user.last_name|upper}}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cliente:cerrar_sesion' %}">Cerrar Sesión</a>
        </li>
    </ul>
</div>
{% endblock linknav %}

{% block cuerpo %}
    <style>
    .boton{
        text-decoration: none;
        color: white;
    }
    .boton:hover{
        text-decoration: none;
        color: white;
    }
    .error {
    color: #F00;
    }

    .errorDjango{
    color: #F00;
    }
    </style>

    {# APARECERÁ UN MENSAJE DE ERROR SI OCURRE ALGUNO AL CAMBIAR CONTRASENA #}
    {% if passnocambiado %}
    <div class="alert alert-danger" role="alert">
        {% if errores_pass %}
            Error al cambiar contraseña revisa el formulario
        {% endif %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endif %}

    {# AQUI SE VISUALIZAN LOS DATOS DEL PERFIL NOMBRE USUARIO, NOMBRE, APELLIDO, EMAIL #}
    <div class="container mt-5">
        <div class="row">
            <div class="col-4 redondeado" style="background-color: rgba(0, 0, 0, 0.466); color: white;">
                <h4>Mis Datos</h4>
                <form action="" class="mt-4 col-12">
                    <div class="form-group">
                        <label for="">Nombre de Usuario</label>
                        <input type="text" class="form-control" value="{{user.username}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" value="{{user.first_name}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="">Apellido</label>
                        <input type="text" class="form-control" value="{{user.last_name}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control" value="{{user.email}}" readonly>
                    </div>
                </form>
            </div>
            <div class="col-8 text-center">
                <button class="btn btn-warning">
                    <a href="" class="boton" data-toggle="modal" data-target="#modalEditar">Actualizar datos</a>
                </button><br><hr>
                <button class="btn btn-warning">
                    <a href="" class="boton" data-toggle="modal" data-target="#modalContrasena">Cambiar contraseña</a>
                </button>
            </div>
        </div>
    </div>


    <!--MODAL ACTUALIZAR DATOS-->
    <div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Datos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="actualizardatos" class="form-group" action="{% url 'cliente:editar_datos' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" value="{{user.email}}" name="email" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input class="form-control" type="text" value="{{user.first_name}}" name="first_name" id="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input class="form-control" type="text" value="{{user.last_name}}" name="last_name" id="apellido" required>
                    </div>
                    <button type="submit" class="btn btn-success">Actualizar Datos</button>
                </form>
            </div>
            </div>
        </div>
    </div>

    <!--MODAL CAMBIAR CONTRASEÑA-->
    <div class="modal fade" id="modalContrasena" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cambiar Contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="cambiar_contrasena_cliente" class="form-group" action="{% url 'cliente:cambiar_contrasena' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="">Contraseña Antigua</label>
                        {{formpass.old_password}}
                        <small>
                            {{errores_pass.old_password}}
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="">Contraseña Nueva</label>
                        {{formpass.new_password1}}
                        <small>
                            {{errores_pass.new_password1}}
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="">Contraseña Nueva(Confirmación)</label>
                        {{formpass.new_password2}}
                        <small>
                            {{errores_pass.new_password2}}
                        </small>
                    </div>
                    <button type="submit" class="btn btn-success">Cambiar Contraseña</button>
                </form>
            </div>
            </div>
        </div>
    </div>

{% endblock cuerpo %}