{% extends 'base.html' %}
{% load static %}


{% block cuerpo %}

    {# MOSTRARA MENSAJE DE EXITO AL REGISTRARSE #}
    {% if registrarse %}
    <div class="alert alert-success" role="alert">
        Usuario registrado exitosamente
    </div>
    {% endif %}

    <style>
    .error {
    color: #F00;
    }

    .errorDjango{
        color: #F00;
    }
    </style>

    {# FORMULARIO DE REGISTRO DE USUARIO #}
    <div class="container col-lg-5 redondeado" style="background-color: rgba(19, 19, 19, 0.747); color: white;">
        <form id="registrarse" class="form" action="{% url 'cliente:registrar_usuario' %}" method="POST">{% csrf_token %}
            <div class="form-group">
                <label for="username">{{form.username.label}}</label>
                {{form.username}}
                <small class="errorDjango">{{errores.username}}</small>
            </div>
            <div class="form-group">
                <label for="email">{{form.email.label}}</label>
                {{form.email}}
                <small class="errorDjango">{{errores.email}}</small>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="nombre">{{form.first_name.label}}</label>
                    {{form.first_name}}
                </div>
                <div class="form-group col-6">
                    <label for="apellido">Apellido</label>
                    {{form.last_name}}
                </div>
            </div>
            <div class="form-group">
                <label for="">{{form.password1.label}}</label>
                {{form.password1}}
                <small class="errorDjango">{{errores.password1}}</small>
            </div>
            <div class="form-group">
                <label for="password2">{{form.password2.label}}</label>
                {{form.password2}}
                <small class="errorDjango">{{errores.password2}}</small>
            </div>
            <div class="container text-center">
                <button class="btn btn-primary" type="submit">Registrarse</button>
            </div>
        </form>
    </div>
{% endblock cuerpo%}