{# load static carga los archivos staticos que ocuparemos en la plantilla base imagenes, js y css #}
{% load static %} 

<!DOCTYPE html>
<html lang="es">
<head>
{% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELPSFOOD</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/validaciones.js' %}"></script>
{% endblock header %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'inicio' %}" style="color: GREEN;"> <u>HELPSFOOD</u></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        {# En este bloque: linknav se pueden modificar los links de la barra de navegacion #}
        {% block linknav %}
          {% if request.user.is_authenticated %}
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'cliente:perfil' %}">Mi Perfil</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'receta:crear_receta' %}">Crear Receta</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'receta:ver_recetas' %}">Ver Recetas</a>
                  </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                      Bienvenido {{user.first_name|upper}} {{user.last_name|upper}}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'cliente:cerrar_sesion' %}">Cerrar Sesión</a>
                  </li>
              </ul>
          </div>
          {% else %}
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'receta:ver_recetas' %}">Ver Recetas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'receta:crear_receta' %}">Crear Receta</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cliente:registrar_usuario' %}">Registrarse</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cliente:iniciar_sesion' %}">Iniciar Sesión</a>
              </li>
            </ul>
          </div>
          {% endif %}
        
        {% endblock linknav %}
      </nav>

      {# En este block cuerpo podemos agregar todo el codigo que necesitamos para el body #}
      {% block cuerpo %}
      {% endblock cuerpo %}

</body>
</html>