{% extends 'base.html' %}

{% block cuerpo %}
    <style>
        .botoninicio{
            text-decoration: none;
            color: white;
            display: inline-block;
        }
        .botoninicio:hover{
            text-decoration: none;
            color: white;
        }
    </style>

    <br>
    <div class="container redondeado" style="background-color: rgba(19, 19, 19, 0.815); color: white;">
        <br>
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="col-12 text-center">
                    <h4>Bienvenido a <strong>HELPSFOOD</strong></h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum<hr>
                <button class="btn btn-primary">
                    <a href="{% url 'cliente:iniciar_sesion' %}" class="botoninicio">Iniciar Sesión</a>
                </button><br>
                <small><a href="{% url 'cliente:registrar_usuario' %}">¿No tienes cuenta? Registrate</a></small>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock cuerpo %}